* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #101010;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */

header {
    background: #181818;
    border-bottom: 1px solid #333;

    position: sticky;
    top: 0;

    z-index: 100;
}

.header {
    max-width: 1300px;
    margin: auto;

    padding: 12px 25px;

    display: flex;
    align-items: center;

    gap: 25px;
}


.logo {
    height: 65px;
    max-width: 280px;

    object-fit: contain;
}


.logo-link {
    display: flex;
}


.search {
    flex: 1;

    padding: 15px 20px;

    background: #242424;

    color: white;

    border: 1px solid #444;

    border-radius: 8px;

    font-size: 16px;

    outline: none;
}

.search:focus {
    border-color: #777;
}


/* MAIN */

main {
    max-width: 1300px;

    margin: auto;

    padding: 40px 25px;
}


/* HERO */

.hero {
    background: #1a1a1a;

    border: 1px solid #2d2d2d;

    border-radius: 12px;

    padding: 40px;

    margin-bottom: 40px;
}

.hero h1 {
    font-size: 40px;

    margin: 0 0 10px;
}

.hero p {
    color: #aaa;

    font-size: 17px;
}


/* CATEGORIES */

.categories {
    display: flex;

    flex-wrap: wrap;

    gap: 10px;

    margin-top: 25px;
}

.categories button {
    background: #292929;

    color: white;

    border: none;

    border-radius: 7px;

    padding: 11px 17px;

    cursor: pointer;
}

.categories button:hover {
    background: #404040;
}


/* GAME GRID */

.game-grid {
    display: grid;

    grid-template-columns:
    repeat(auto-fill, minmax(200px, 1fr));

    gap: 20px;
}


/* GAME CARD */

.game-card {
    background: #191919;

    border: 1px solid #2c2c2c;

    border-radius: 10px;

    overflow: hidden;

    cursor: pointer;

    transition: 0.2s;
}

.game-card:hover {
    transform: translateY(-6px);

    border-color: #666;

    background: #222;
}


/* GAME IMAGE */

.game-image {
    height: 280px;

    background: #292929;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;

    padding: 20px;

    color: #999;

    font-weight: bold;
}


.game-card h3 {
    margin: 15px 15px 7px;

    font-size: 17px;
}


.game-card p {
    margin: 0 15px 17px;

    color: #888;

    font-size: 13px;
}


/* NO RESULTS */

#noResults {
    display: none;

    text-align: center;

    padding: 60px;

    color: #888;
}


/* FOOTER */

footer {
    margin-top: 70px;

    padding: 30px;

    text-align: center;

    background: #181818;

    border-top: 1px solid #333;

    color: #777;
}


/* MOBILE */

@media(max-width:700px) {

    .header {
        flex-wrap: wrap;
    }

    .search {
        flex-basis: 100%;
    }

    .game-grid {
        grid-template-columns:
        repeat(2, 1fr);

        gap: 12px;
    }

    .game-image {
        height: 220px;
    }

}
